<div class="container">

  <!-- 网站简介 -->

  <div class="about-title-box">
    <span class="about-title-e">杭州乾乾</span><br>
    <h1 class="about-title-c">ABOUT US</h1>
  </div>

  <p class="about-info">
    杭州乾乾医疗器械有限公司创立于1990，公司专注于康复医学领域，为医疗机构提供康复设备及医疗耗材。<br>
    经过十多年的成长，公司在业界积累了良好的信誉。并在华东地区形成了一定影响力。<br>
    公司与多个国际、国内知名品牌合作，并成为多个品牌的区域代理。<br>

    2019年开始，公司将吞咽障碍治疗作为公司的主要发展方向，打造并完善吞咽障碍治疗产品线，包含治疗设备、评估设备、食品等。<br>
    公司与国外知名品牌直接合作，代理和进口国外先进设备。致力于5年后成为中国大陆，在吞咽障碍治疗领域最有影响力的公司之一。<br>




  </p>
  <hr>

  <!-- 网站设计者 -->
  <div class="row">
  <div class="col-md-12 about-info about-img ">
    <h3 class="tagline" align="center" >团队介绍</h3>
    <hr width="10%">
    <div class="col-xs-12  landing-page-eva-style">

      <p class="about-info">
        公司有完善的管理团队，提供康复设备销售、设备使用培训、售后维修，全链条服务。<br>
        公司核心团队成员为医学、康复治疗学出身。学历本科以上者占比80%。<br>

      </p>


    </div>

  </div>
</div>
