<div class="container">

  <!-- 网站简介 -->

  <div class="about-title-box">
    <span class="about-title-e">杭州乾乾</span><br>
    <h1 class="about-title-c">ABOUT US</h1>
  </div>

  <p class="about-info">
    杭州乾乾医疗器械有限公司创立于1990，公司专注于康复医学领域，为医疗机构提供康复设备及医疗耗材。<br>
    经过十多年的成长，公司在业界积累了良好的信誉。并在华东地区形成了一定影响力。<br>
    公司与多个国际、国内知名品牌合作，并成为多个品牌的区域代理。<br>

    2019年开始，公司将吞咽障碍治疗作为公司的主要发展方向，打造并完善吞咽障碍治疗产品线，包含治疗设备、评估设备、食品等。<br>
    公司与国外知名品牌直接合作，代理和进口国外先进设备。致力于5年后成为中国大陆，在吞咽障碍治疗领域最有影响力的公司之一。<br>




  </p>

  <!-- [ MAIN AREA ] -->
				<div id="mainArea">
					<!-- [ TOPIC PATH ] -->
					<ol id="topicPath">
						<li><a href="/en/index.html">HOME</a></li>
						<li><a href="/en/about/index.html">About NUTRI</a></li>
						<li><em>History</em></li>
					</ol>
					<!-- [ /TOPIC PATH ] -->

					<div class="mainContents">
						<div class="mainContents-bg">
							<img src="/en/about/images/bg_history.jpg" alt="">
						</div>
						<div class="mainContents-inner">
							<h3 class="mainContents-catch">
								NUTRI has pioneered the field of nutritional therapy <br />
								for more than half a century.<br />
								we will continue pursuing new possibilities for nutritional therapy.
							</h3>

							<ul>
								<li class="history-list">
									<h4 class="history-list-title">1963</h4>
									<dl class="history-list-contents">
										<dt>Feb</dt>
										<dd>Sankyo Pharmaceutical Manufacture founded (capital: &yen;5 million)</dd>
										<dt>Mar</dt>
										<dd>Development of refined chicken egg-based product</dd>
										<dt>Sep</dt>
										<dd>Market launch of EGURON concentrated liquid diet for tube feeding</dd>
									</dl>
								</li>

								<li class="history-list">
									<h4 class="history-list-title">1972</h4>
									<dl class="history-list-contents">
										<dt>May</dt>
										<dd>Production of AIALL-P concentrated liquid diet for tube feeding begins as--OEM product produced for Kobayashi Yakuhin Corporation</dd>
									</dl>
								</li>

								<li class="history-list">
									<h4 class="history-list-title">1978</h4>
									<dl class="history-list-contents">
										<dt>Feb</dt>
										<dd>Market launch of HIGHLY POWDER Essential Fatty Acid powdered oil</dd>
									</dl>
								</li>

								<li class="history-list">
									<h4 class="history-list-title">1984</h4>
									<dl class="history-list-contents">
										<dt>Feb</dt>
										<dd>Development of HIGH FISSURE collagen-degrading protein (SCP)</dd>
										<dt>Aug</dt>
										<dd>Market launch of HYPRO-S protein-enrichment food supplement</dd>
									</dl>
								</li>

								<li class="history-list">
									<h4 class="history-list-title">1985</h4>
									<dl class="history-list-contents">
										<dt>Jan</dt>
										<dd>Production launch of LIVE SERIES concentrated oral liquid diet begins as--OEM product</dd>
									</dl>
								</li>

								<li class="history-list">
									<h4 class="history-list-title">1989</h4>
									<dl class="history-list-contents">
										<dt>Mar</dt>
										<dd>Development of balanced fatty acid compound oil</dd>
									</dl>
								</li>

								<li class="history-list">
									<h4 class="history-list-title">1991</h4>
									<dl class="history-list-contents">
										<dt>Nov</dt>
										<dd>Susumu Kawaguchi takes over as president and CEO</dd>
									</dl>
								</li>

								<li class="history-list">
									<h4 class="history-list-title">1993</h4>
									<dl class="history-list-contents">
										<dt>Feb</dt>
										<dd>Market launch of PROCCA protein and calcium food supplement</dd>
									</dl>
								</li>


								<li class="history-list">
									<h4 class="history-list-title">1994</h4>
									<dl class="history-list-contents">
										<dt>May</dt>
										<dd>Market launch of V CRESC micronutrient supplement beverage</dd>
									</dl>
								</li>

								<li class="history-list">
									<h4 class="history-list-title">1995</h4>
									<dl class="history-list-contents">
										<dt>Oct</dt>
										<dd>Capital increased to &yen;15 million</dd>
									</dl>
								</li>

								<li class="history-list">
									<h4 class="history-list-title">1996</h4>
									<dl class="history-list-contents">
										<dt>Feb</dt>
										<dd>Tokyo office opens in Haccho-bori, Chuo-ku, Tokyo</dd>
									</dl>
								</li>

								<li class="history-list">
									<h4 class="history-list-title">1997</h4>
									<dl class="history-list-contents">
										<dt>Jan</dt>
										<dd>Market launch of ISOTONIC JELLY rehydration jelly</dd>
									</dl>
								</li>

								<li class="history-list">
									<h4 class="history-list-title">2000</h4>
									<dl class="history-list-contents">
										<dt>Jul</dt>
										<dd>Main plant relocates to Hazunaka, Yokkaichi, Mie Prefecture</dd>
										<dt>Sep</dt>
										<dd>Market launch of Softia texture improver</dd>
									</dl>
								</li>

								<li class="history-list">
									<h4 class="history-list-title">2001</h4>
									<dl class="history-list-contents">
										<dt>Feb</dt>
										<dd>Capital increased to &yen;40 million</dd>
										<dt>Jul</dt>
										<dd>Tokyo office relocates to 2 Haccho-bori, Chuo-ku, Tokyo</dd>
									</dl>
								</li>

								<li class="history-list">
									<h4 class="history-list-title">2003</h4>
									<dl class="history-list-contents">
										<dt>Sep</dt>
										<dd>Market launch of low protein dessert Hi! Bavarois</dd>
									</dl>
								</li>

								<li class="history-list">
									<h4 class="history-list-title">2004</h4>
									<dl class="history-list-contents">
										<dt>May</dt>
										<dd>Market launch of V ACCEL, micronutrient fortified food containing glutamine</dd>
										<dt>Sep</dt>
										<dd>Capital increased to &yen;65 million</dd>
										<dt>Oct</dt>
										<dd>Nutri Communications Co., Ltd. established as wholly-owned subsidiary of Sankyo Pharmaceutical Manufacture</dd>
									</dl>
								</li>

								<li class="history-list">
									<h4 class="history-list-title">2005</h4>
									<dl class="history-list-contents">
										<dt>Nov</dt>
										<dd>Main plant relocates to Fujicho, Yokkaichi-shi, Mie-prefecture</dd>
										<dt>Dec</dt>
										<dd>Capital increased to &yen;215 million</dd>
									</dl>
								</li>

								<li class="history-list">
									<h4 class="history-list-title">2006</h4>
									<dl class="history-list-contents">
										<dt>Mar</dt>
										<dd>Sankyo Pharmaceutical Manufacture merges with Nutri Communications Co., Ltd.<br />Nagoya office opens in Marunouchi, Naka-ku, Nagoya-shi, Aichi Prefecture</dd>
										<dt>May</dt>
										<dd>Corporate name changed to Nutri Co., Ltd.<br />Tokyo office relocates to Shinkawa, Chuo-ku, Tokyo<br />Market launch of AIALL Soft Concentrated solid food</dd>
									</dl>
								</li>

								<li class="history-list">
									<h4 class="history-list-title">2007</h4>
									<dl class="history-list-contents">
										<dt>Feb</dt>
										<dd>Market launch of micronutrient fortified food V CRESC Jelly Cup Type</dd>
									</dl>
								</li>

								<li class="history-list">
									<h4 class="history-list-title">2009</h4>
									<dl class="history-list-contents">
										<dt>Mar</dt>
										<dd>Market launch of CalmSolid semi-solid liquid food</dd>
									</dl>
								</li>

								<li class="history-list">
									<h4 class="history-list-title">2010</h4>
									<dl class="history-list-contents">
										<dt>Nov</dt>
										<dd>Market launch of Softia S, food texturizer for thickened food</dd>
									</dl>
								</li>

								<li class="history-list">
									<h4 class="history-list-title">2011</h4>
									<dl class="history-list-contents">
										<dt>Feb</dt>
										<dd>Market launch of Softia G, food texturizer for preparation of jellied food</dd>
									</dl>
								</li>

								<li class="history-list">
									<h4 class="history-list-title">2012</h4>
									<dl class="history-list-contents">
										<dt>Apr</dt>
										<dd>Market launch of Softia U, food texturizer for rice porridge mixer jelly</dd>
										<dt>Oct</dt>
										<dd>Market launch of Nutri Conc 2.5 nutritional adjustment food</dd>
										<dt>Dec</dt>
										<dd>NUTRI joins Medical Nutrition Council of Japan<br />President Susumu Kawaguchi becomes the first chairman of the Medical Nutrition Council of Jaoan</dd>
									</dl>
								</li>

								<li class="history-list">
									<h4 class="history-list-title">2013</h4>
									<dl class="history-list-contents">
										<dt>Jul</dt>
										<dd>Market launch of V CRESC CP10 Mix Fruit containing collagen peptide</dd>
									</dl>
								</li>

								<li class="history-list">
									<h4 class="history-list-title">2014</h4>
									<dl class="history-list-contents">
										<dt>Feb</dt>
										<dd>Market launch of V CRESC Hi-petit Jelly high-calorie mini jelly</dd>
										<dt>Dec</dt>
										<dd>Became part of the Mitsui Sugar Group</dd>
									</dl>
								</li>

								<li class="history-list">
									<h4 class="history-list-title">2015</h4>
									<dl class="history-list-contents">
										<dt>Aug</dt>
										<dd>Market launch of V CRESC CP10 JELLY Mix Fruit containing collagen peptide</dd>
									</dl>
								</li>

								<li class="history-list">
									<h4 class="history-list-title">2016</h4>
									<dl class="history-list-contents">
										<dt>Jun</dt>
										<dd>Market launch of Softia R, food texturizer for preparation of jellied food</dd>
									</dl>
								</li>

								<li class="history-list">
									<h4 class="history-list-title">2017</h4>
									<dl class="history-list-contents">
										<dt>Apr</dt>
										<dd>Transfer receipt of part of the nutrition business of SANWA KAGAKU KENKYUSHO CO., LTD.<br />Change of stand-pack containers for Softia series products, food texturizers used to produce jelly (container name: innobox)</dd>
									</dl>
								</li>

								<li class="history-list">
									<h4 class="history-list-title">2018</h4>
									<dl class="history-list-contents">
										<dt>Mar</dt>
										<dd>Market launch of lactobacillus containing V CRESC BIO</dd>
										<dt>Sep</dt>
										<dd>Market launch of V CRESC CP10 Ruby Orange containing collagen peptide</dd>
										<dt>Nov</dt>
										<dd>South Korea oﬃce opens in Jung District, Seoul</dd>
									</dl>
								</li>

								<li class="history-list">
									<h4 class="history-list-title">2019</h4>
									<dl class="history-list-contents">
										<dt>Feb</dt>
										<dd>Transfer receipt of partial marketing rights (concentrated liquid diet and related products) from Kewpie Corporation<br />Market launch of lactobacillus containing V CRESC BIO Jelly</dd>
										<dt>May</dt>
										<dd>Nagoya office relocates to Nishiki, Naka-ku, Nagoya-shi, Aichi Prefecture</dd>
									</dl>
								</li>
							</ul>
						</div>
					</div>

				</div>
  <hr>

  <!-- 网站设计者 -->
  <div class="row">
  <div class="col-md-12 about-info about-img ">
    <h3 class="tagline" align="center" >团队介绍</h3>
    <hr width="10%">
    <div class="col-xs-12  landing-page-eva-style">

      <p class="about-info">
        公司有完善的管理团队，提供康复设备销售、设备使用培训、售后维修，全链条服务。<br>
        公司核心团队成员为医学、康复治疗学出身。学历本科以上者占比80%。<br>

      </p>


    </div>

  </div>
</div>
