<div class="row">
<!-- 中间区域介绍内容 -->
  <div class="row">
    <div class="help-page-mid">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3 class="tagline text-center">乾乾致力于成为吞咽障碍评估和治疗领域的专业企业</h1>
              <br/>
              <p class="col-md-6 col-md-offset-3 text-center tagp">

                服务于各级医疗机构及广大患者<br/>
                  为客户提供专业产品和专业价值</p>
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- question -->
<div id="question" class="row">
  <div class="module-name decorative">
     <div class="text-center"><h2>合作伙伴</h2>

    </div>
  </div>
    <div class="col-md-10 col-md-offset-1">
      <div class="col-md-3 col-sm-6">
        <p><img width="160px" src=https://tva1.sinaimg.cn/large/007S8ZIlly1gifip5t7g0j30b40b40sz.jpg></p>
      </div>
      <div class="col-md-3 col-sm-6">
        <p><img width="160px" src=https://tva1.sinaimg.cn/large/007S8ZIlly1gifiseg9djj30m80ogq6x.jpg></p>
      </div>
      <div class="col-md-3 col-sm-6">
        <p><img width="160px" src=https://tva1.sinaimg.cn/large/007S8ZIlly1gifisg2utrj30m80m8gnq.jpg></p>
      </div>
      <div class="col-md-3 col-sm-6">
        <p><img width="160px" src=https://tva1.sinaimg.cn/large/007S8ZIlly1gifiygfw4rj30u00u0n5u.jpg></p>
      </div>
    </div>
  </div>
</div>
