<!-- ↓↓↓ 大图滚动banner 代码块↓↓↓ -->
  <div class="row">
    <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
      <div class="overlay"></div>

      <!-- 默认三张图列表 -->
      <div class="banner">
        <ul class="carousel-indicators ">
          <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#bs-carousel" data-slide-to="1"></li>
          <li data-target="#bs-carousel" data-slide-to="2"></li>
        </ul>
      </div>

      <!-- 文案部分 -->
      <div class="carousel-inner">
        <div class="item slides ">
          <div class="slide-1"></div>
          <div class="hero row">
            <hgroup>
                <h1>「发现更好生活」</h1>
                <h3>最美好物与你分享</h3>
            </hgroup>
            <!-- <button class="btn btn-hero btn-lg" role="button">测试跳转链接</button> -->
          </div>
        </div>
        <div class="item slides">
          <div class="slide-2"></div>
          <div class="hero">
            <hgroup>
                <h1>「生活从不将就」</h1>
                <h3>面向注重生活品质的你</h3>
            </hgroup>
            <!-- <button class="btn btn-hero btn-lg" role="button">测试跳转链接</button> -->
          </div>
        </div>
        <div class="item slides active">
          <div class="slide-3"></div>
          <div class="hero">
            <hgroup>
                <h1>「让生活更有趣」</h1>
                <h3>分享高品质新奇酷产品和使用体验</h3>
            </hgroup>
            <!-- <button class="btn btn-hero btn-lg" role="button">测试跳转链接</button> -->
          </div>
        </div>

      </div>
    </div>
  </div>
<!-- ↑↑↑ 大图滚动banner 代码块 ↑↑↑ -->

<!-- 首页精选商品列表 -->
  <div class="row all-product-box">
    <div class="container">

      <div class="container topspan">
        <div class="row">
          <div class="col-xs-12">
            <h3 class="titspan" align="center"><%= link_to("精选产品", products_path) %></h3>
          </div>
          <!-- <div class="col-xs-6">
            <%= link_to("more >", products_path, class: "pull-right morespan") %>
          </div> -->
        </div>
      </div>
      <hr width="10%">

      <%= render 'common/products' %>

    </div>
  </div>
