<footer class="footer">
	<p><a href="<%= static_pages_about_path %>" target="_blank">关于我们 </a> <span>|
  </span> <a href="<%= static_pages_contact_path %>" target="_blank">联系方式</a> <span></p>
	<p>
    <span class="logo-text">Copyright ©2017 浙ICP备20029281号-1</span>

	</p>
</footer>
